* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  font-weight: 300;
  font-family: "rubik", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 700;
}
.app {
  left: 20px;
  top: 50%;
  margin-left: 200px;
  margin-right: 100px;
  position: absolute;
  margin-top: -10%;
  line-height: 2em;
}

/* Signin page*/

.container {
  margin: 0 auto;
  width: 800px;
  height: 100vh;
}

.logo {
  padding-left: 500px;
  display: flex;
  margin-bottom: -400px;
  padding-top: -70px;
}

.verticalAlignTextField {
  padding: 10px;
  margin: 5px;
  width: 230px;
  margin-bottom: 10px;
  margin-left: 0px;
  display: flex;
  align-items: center;
  border: 2px solid #000000;
}

.verticalAlignTextField::placeholder {
  font-weight: 200px;
  color: #000;
}

.invalid {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

input[type="text"] {
  border: none;
}

input[type="text"]:focus {
  outline: none;
}

.signUp {
  padding-left: 5px;
  color: #6d8fff;
}

h5 {
  margin-bottom: 15px;
}

.input {
  display: grid;
  width: 100%;
}

.largerCheckbox {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 10px;
  border: 5px solid #000000;
  border-radius: 5px;
}

.customCheckbox {
  margin-top: 10px;
  font-size: 12px;
}

.checkboxWithContent {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.btn {
  color: #fff;
  padding: 10px 75px;
  background-color: #000000;
  border: none;
  width: 230px;
  cursor: pointer;
}

/*horizontallines*/

.contentWithLines {
  position: relative;
  align-items: center;
}

.content {
  display: flex;
  padding: 20px;
  font-size: 12px;
  padding-left: 70px;
  font-weight: bold;
}

.content::before,
.content::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 7%;
  height: 1px;
  background-color: #000;
}

.content::before {
  left: 170px;
}

.content::after {
  right: 740px;
}

/*icons*/

.icons {
  width: 5%;
  height: 6vh;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  font-size: 24px;
  padding-left: 110px;
}

/*Home*/

.home-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: -200px;
}

.region-filter {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin-bottom: 0px;
}

.region-filter button {
  margin: 0 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  background-color: transparent;
  color: #625f5f;
  font-size: 20px;
}

.country {
  margin-bottom: 20px;
  padding-top: 0px;
}

.countries-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.countries-list p {
  font-size: 12px;
}

h1 {
  margin-top: -40px;
  padding-bottom: 60px;
  padding-left: 20px;
  font-size: 20px;
}

.country-box {
  display: flex;
  width: 48%;
  align-items: center;
  border: 2px solid #625f5f;
  padding: 30px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.country-flag {
  width: 100px;
  height: auto;
  margin-right: 10px;
  border-radius: 5px 5px 0 0;
}

.region-filter button.active {
  text-decoration: underline;
  font-weight: bold;
  color: #000;
}

/*Footer*/

.footer {
  color: #000;
  padding: 20px;
  text-align: center;
}

.icon-container {
  display: flex;
  align-items: center;
  padding-top: 150px;
  gap: 20px;
  justify-content: center;
  padding-bottom: 30px;
}

@media (max-width: 927px) {
  .container {
    width: 80%;
    /* overflow: hidden; */
    /* height: 200vh; */
    margin-top: 300px;
    /* max-width: none; */
    /* margin-right: 150px; */
    /* padding-right: 100px; */
    /* margin-bottom: 0px; */
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .logo img {
    display: none;
  }

  .country-box {
    width: 100%;
  }
}
